<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="../index.html" class="b-brand text-primary">
        <img src="./assets/images/logo-dark.svg" alt="logo image" class="logo-lg" />
        <span class="badge bg-brand-color-2 rounded-pill ms-2 theme-version">@@pc_theme_version</span>
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        @@include('./menu-list.html')
      </ul>
    </div>
  </div>
</nav>
